@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bigtab {
    margin-top: 5em;
    margin-bottom: 5em;
    color: black !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    position: relative;
}

.tabs-block-v {
    width: 100%;
    height: 63.7%;
    margin-top: 8.5em;
}

.tab-v>.tab-cont-inner {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 65.5%;
    box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 2.142em;
    color: black !important;
    height: fit-content;
    background: white;
}

.tab {
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18);
    border-radius: 0.6em;
    width: 31%;
    background: white;
}

.tab-v {
    margin-bottom: 2.2em;
}

.shadow {
    display: flex;
    padding: 2.142em;
    display: flex;
}

.text p {
    font-size: 1em !important;
    line-height: 150% !important;
    margin: 0em !important;
}

.text h2 {
    margin-top: 0em !important;
    margin-bottom: 0.7em !important;
    font-size: 1.25em !important;
}

.text {
    width: calc(100% - 5em);
    color: black !important;
    font-weight: 400 !important;
}

.shadow>.img {
    width: 3.5em;
    margin-right: 1.5em;
}

.img img {
    width: 100% !important;
}

.active {
    box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18), inset 5px 0px 0px #3DBEEE !important;
    transition: all 0.3s;
}

.active:hover {
    box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18), inset 5px 0px 0px #3DBEEE !important;
}

.active h2 {
    color: black !important;
}

.active:hover .text>h2 {
    color: black !important;
}

.show{
    display: block !important;
    animation: fadeIn .3s !important;
    opacity: 1;
}

.tab:hover {
    box-shadow: 0px 8px 30px -5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.tabs-h {
    display: flex;
    flex-wrap: wrap;
}

.tabs-h>.tab-h:not(:last-child){
    margin-right: 3% !important;
}

.tab:hover h2 {
    color: #3DBEEE !important;
    transition: all 0.3s;
}

.tab-h>.tab-cont-inner {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 2.142em;
    color: black !important;
    background: white;
}
.img{
    position: relative;
}

img:only-child{
    opacity: 1 !important;
    position: static !important;
}

.def{
    opacity: 1;
}

.active .def{
    position: absolute;
    opacity: 0;
}

.act {
    opacity: 1;
}

.def + .act{
    opacity: 0
}

.active .act {
    opacity: 1;
}

@media(max-width: 1023px) {

    .active {
        box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18), inset 0px 10px 0px #3DBEEE !important;
    }

    .active:hover {
        box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.18), inset 0px 10px 0px #3DBEEE !important;
    }

    .shadow{
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.25) !important;
        border-radius:0.6em;
        display: block;
        padding: 1.45em;
        position: relative;
        z-index: 2;
    }

    .text {
        width: 100%;
    }

    .text>p{
        font-size: 1.15em;
        margin-top: .6em !important;
    }

    .text>h2{
        margin-top: .6em !important;
        font-size: 1.45em;
        margin-bottom: 0% !important;
    }

    .tab-cont-inner {
        width: 100% !important;
        display: none;
        position: static !important;
        border-radius: 0.6em;
        padding: 1.45em !important;
        color: black !important;
        box-shadow: none !important;
    }

    .tab {
        margin-bottom: 1.45em !important;
        width: 100% !important;
    }

    .tabs-h{
        display: block;
    }

    .tabs-h>.tab-h:not(:first-child){
        margin-left: 0% !important;
    }
}